 
<div class="container">
 <div ng-if="myinfo.exists">
  Username: <br>
  {{myinfo.user.username}} <br>
  Email: <br>
  {{myinfo.user.email}} <br>
  Address: <br>
  {{myinfo.user.address}} <br>
   Phone: <br>
  {{myinfo.user.phone}} <br>

  <div class="menu-item-tile col-md-6">
    <div class="row">
      <div class="col-sm-5">
        <div class="menu-item-photo">
          <div>{{myinfo.user.info_item.short_name}}</div>
          <img class="img-responsive" width="250" height="150" ng-src="{{myinfo.basePath}}/images/{{myinfo.user.info_item.short_name}}.jpg" alt="{{myinfo.user.info_item.name}}">
        </div>
        <div class="menu-item-price">{{myinfo.user.info_item.price_small | currency}}<span> {{myinfo.user.info_item.small_portion_name}}</span> {{myinfo.user.info_item.price_large | currency}} <span>{{myinfo.user.info_item.large_portion_name}}</span></div>
      </div>
      <div class="menu-item-description col-sm-7">
        <h3 class="menu-item-title">{{myinfo.user.info_item.name}}</h3>
        <p class="menu-item-details">{{myinfo.user.info_item.description}}</p>
      </div>
    </div>
    <hr class="visible-xs">
  </div>
  </div>
   <div ng-if="!myinfo.exists">
      Not Signed Up Yet. <a  ui-sref="public.signup">Sign up Now!</a>
  </div>
</div>