
<style type="text/css">
 .jander2{
    color: #000;
 }
</style>

<div class="container">
    <fieldset>
      <legend>Registration</legend>
      <form name='regForm' novalidate>
        Username: <br>
        <input class="jander2" type="text" name="username" placeholder="Pick a username"
          ng-model="reg.user.username"
          required
          minlength="4"
          ng-maxlength="10">

          <span
            ng-if="(regForm.username.$error.minlength || regForm.username.$error.required) && regForm.username.$touched">
            Username must be at least 4 characters long
          </span>
          <span ng-if="regForm.username.$error.maxlength && regForm.username.$touched">
            Username must not be longer than 10 characters
          </span>
          <br>
        Email: <br>
        <input class="jander2" type="email" name="email" placeholder="Email"
          ng-model="reg.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>
        Address: <br>
        <input class="jander2" type="text" name="address" placeholder="Pick a address"
          ng-model="reg.user.address"
          required >
            <span ng-if="regForm.address.$invalid && regForm.phone.$touched">
              Address is mandatory.
            </span>

          <br>
        Phone:  <br>
        <input class="jander2" type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>
         Item: <br>
          <input class="jander2" type="text" name="item" placeholder="Pick a item"
            ng-model="reg.user.item"
            required
           >

            <span ng-if="regForm.item.$invalid && regForm.item.$touched">
              item is mandatory.
            </span>
            <br>
        <br>
        <button  class="jander2"
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()">Submit</button>

      </form>
      
      <information completed="reg.completed"></information>


      <div ng-if="!reg.exists" >
          No such menu number exists
      </div>
    </fieldset>
</div>
